# This file is a template for creating the environment file
# holding sensitive data like passwords and keys. Each entry
# is of the form key=value.
#
# To get started, create a file called ".env" in the same
# directory as this file, and enter values for each of the
# environment variables defined in this file.
#
# This file should be included in the git repository, as it
# poses no risk because it's not directly used. 


# -- DB --

DB_HOST=db
DB_PORT=5432
DB_USER=admin
DB_DBNAME=admin
DB_PASSWORD=admin

# -- JWT --

JWT_KEY=jwt123

# -- KEYS --

SECURE_TRIP_SALT=abc123
INSECURE_TRIP_SALT=abc123
USERID_SALT=abc123